.shape-round {
  --height-percentage: 11;
  position: absolute;
  width: 100%;
  padding-top: calc(var(--height-percentage) * 7%);
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.shape-round::after {
  pointer-events: all;
  --width-round: 266vw;
  content: "";
  width: var(--width-round);
  height: var(--width-round);
  display: block;
  background-color: var(--color-dark);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 50%;
}

.shape-round.dark::after {
  background-color: var(--color-dark);
}

.shape-round.lightgray::after {
  background-color: var(--color-dark);
}

.shape-round.primary::after {
  background-color: var(--color-primary);
}

/* Variants */

.shape-round.bottom {
  transform-origin: bottom;
  bottom: -1px;
}

.shape-round.bottom::after {
  top: 0;
}

.shape-round.top {
  transform-origin: top;
  top: -1px;
}

.shape-round.top::after {
  bottom: 0;
}

.shape-round.grow {
  transform: scaleY(0);
}

.shape-round.shrink {
  transform: scaleY(1);
}
