main {
  height: 100vh;
  width: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding: 12px;
  color: white;
}

nav .desktop {
  display: flex;
  gap: 2rem;
}

ul li {
  font-size: 2vw;
}

/*---------------------------- Header ---------------*/

.home-intro {
  width: 100%;
  height: calc(100vh - 2rem); /* Ensure the container takes up the full viewport height */
  display: flex;
}

.home-intro .container .row {
  height: 100%;
}

.home-intro .title-wrap {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-intro .row:nth-of-type(2) {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.home-intro .row:nth-of-type(2) .title-info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 3rem;
}

.home-intro .title-wrap #rectangle-svg {
  width: 20vw;
}

.fade-bottom-overlay {
  background: linear-gradient(0deg, rgb(var(--color-dc), 1) 0%, rgb(var(--color-dc), 0) 50%);
}

/* content below main */

section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
